.step1-cont {
  width: 60%;
}
.plan-selection {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
.pdetil {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #182639;
}
.basicdeatils-cont {
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  padding: 16px;

  /* display: flex;
  flex-direction: column; */
}
.detils-basic {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  color: #182639;
}
.details {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  padding: 16px;
  gap: 24px;
}
.plan-option {
  display: flex;
  justify-content: space-between;
}
.error {
  color: red;
}

/* .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: space-between !important;
} */
.font-sm {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #2d3d54;
}
